<div class="row" style="margin: 10px">
  <div class="col">
<!-- Dropdown Card  -->
<div class="card shadow mb-4 rb-left-side-card">
  <!-- Card Header -->
  <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
      <h6 class="m-0 font-weight-bold">Your Task Approval List</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">  
        <tbody>
            <tr>
                {{#each task_history as |task_history|}}
                  {{> dashboard-task-approval task_history}}
                {{/each}}
            </tr>
        </tbody>
      </table>
    </div> 
  </div> 
</div>
</div>
<div class="col">
<!-- Dropdown Card Example -->
<div class="card shadow mb-4 rb-right-side-card">
  <!-- Card Header -->
  <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold">Your Reward Approval List</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">  
        <tbody>
            <tr>
                {{#each reward_history as |reward_history|}}
                <tr>
                    {{> dashboard-reward-history reward_history}}
                </tr>
                {{/each}}
            </tr>
        </tbody>
      </table>
    </div> 
  </div> 
</div>
</div>
</div>