<tr class="rb-task-reward-layout">
  <td>{{name}}</td>
  <td>{{value}}</td>
  <div class="settings-button-spacing">
    <th scope="row" class="btn1 delete-task-btn" type="button" task_id="{{id}}">Delete</th>
    <th scope="row" class="btn1 edit-task-btn" type="button" task_id="{{id}}">Edit</th>
    </div>
</tr>