<tr class="rb-task-reward-layout">
  <td>{{name}}</td>
  <td>{{cost}}</td>
  <th scope="row" class="btn1 delete-reward-btn mr-5" type="button" reward_id="{{id}}">Delete</th>
  <th scope="row" class="btn1 edit-reward-btn" type="button" reward_id="{{id}}">Edit</th>
</tr>