<tr class="rb-task-reward-layout">
  <td>{{name}}</td>
  <td>{{value}}</td>
  <th scope="row" class="btn1 delete-task-btn mr-5 float-right" type="button" task_id="{{id}}">Delete</th>
  <th scope="row" class="btn1 edit-task-btn mr-15 float-right" type="button" task_id="{{id}}">Edit</th>
</tr>