    <div class="homepage">
        <div class="row">
            <div class="col-sm-6 col-lg-12">
                <div class="homepage-form-bg d-flex flex-column">
                     <img src="images/reward-bank-logo.png" alt="logo" class="homepage-logo">
                     <div class="header-btns align-self-end">
                      <!-- <a class="btn btn-danger" href="#" role="button">Dashboard</a> -->
                        {{#if loggedIn}}
                        <button id="logout" class="btn btn-danger">logout</button>
                        {{else}}
                        <a href="/login">login</a>
                        {{/if}}
                     </div>
                        <div class="flex-column">
                           <div class="col-lg-6 col-lg-12 offset-sm-4 offset-lg-0 " >
                               <div class="approve-list">
                                   <h2>Hi NAME</h2>
                                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Ut beatae perferendis repellat asperiores corporis odio voluptates, 
                                        sequi odit libero inventore quidem error maxime, animi, doloribus sunt. 
                                        In magni hic numquam.
                                   </p>
                                <div class="d-flex p-4">
                                    <div class="col-md-4 flex-row">
                                        <div class="child-points">
                                            <p>Your current point balance is</p>
                                            <h3>600 Points</h3>
                                        </div>
                                    </div>
                                </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class=" col-md-6">
                                                <div class="task-list d-flex flex-column bg-warning ">
                                                    <h3>Your To-do List</h3>
                                                    <!--<div class="row"> -->
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Complete</button>
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>

                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Complete</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Complete</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Complete</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class="mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Complete</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class="mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Completed</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>

                                                        <h3>Your Completed Tasks</h3>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Task Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Task Value</div>
                                                            </div> 
                                                        </div>

                                                    <!--</div> -->
                                                </div>
                                            </div>
                                            <div class=" col-md-6">
                                                <div class="task-list d-flex flex-column">
                                                    <h3>Your Reward List:</h3>
                                                    <!--<div class="row"> -->
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Request</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Request</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Request</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Request</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Request</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <button class="btn1 btn-outline-secondary" type="button">Request</button>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <h3>Your Recived Rewards</h3>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        <div class=" mb-3">
                                                            <div class="input-group-prepend ">
                                                                <div class="task-list-box d-flex  w-100 p-2 bg-white ">Reward Name</div>
                                                                <div class="task-list-box d-flex w-100 p-2 bg-white">Reward Value</div>
                                                            </div> 
                                                        </div>
                                                        
                                                        

                                                    <!--</div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                           </div>
                        </div>
                     </div>  
                </div>
              </div>
                
            </div>
        </div>
    </div>
