<h1 class="section-banner"><span>Your Dashboard</span></h1>
<main>
  <section class="new-post-section">
    <h2>Create New Post</h2>
    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-content">Content</label>
        <textarea id="post-content" name="post-content" cols="70" rows="5"></textarea>
      </div>
      <button type="submit" class="btn">Create</button>
      <button type="button" class="discard-post-btn">Discard</button>
    </form>
  </section>
  <section class="add-new-post-section">
    <button type="button" class="create-post-btn">Add New Post</button>
  </section>

  {{#if posts.length}}
  <section class="dashboard-posts">
    <h2>Your Posts</h2>
    <ol>
      {{#each posts as |post|}}
      <li>
        {{> dashboard-post-info post}}
      </li>
      {{/each}}
    </ol>
  </section>
  {{else}}
  <section>
    <h2>You have no posts.</h2>
  </section>
  {{/if}}

  <script src="/javascript/add-post.js"></script>
  <script src="/javascript/discard-post.js"></script>
</main>