<style>
	.header_16{
		background-image:url(./images/header-test-2-edit.gif);
	}
	@media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
		.header_16{
			background-image:url(./images/header-test-2-edit.gif);
		}
	}
</style>

<header class="pt-145 pb-115 header_16">

	<!-- Header Menu 16 -->

	<nav class="header_menu_16 pt-30 pb-30 mt-15">
		<div class="container px-xl-0">
			<div class="row justify-content-center">
			<div class="col-xl-10" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1200">
					<div class="row align-items-baseline">
						<div class="col-lg-9 d-flex align-items-center f-18 medium">
							<div class="mr-15 logo color-white">Reward Bank</div>
							<a href="#" class="mx-15 link color-white">Tour</a>
							<a href="#" class="mx-15 link color-white">About</a>
							<a href="#" class="mx-15 link color-white">Support</a>
						</div>
						<div class="mt-20 mt-lg-0 col-lg-3 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        {{#if loggedIn}}
												<a href="/dashboard" class="btn sm action-2 f-16 ">Dashboard</a>
                        {{else}}
												<a href="/login" class="btn sm action-2 f-16 ">Login</a>
                        {{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

 

<div class="container px-xl-0 color-white">
		<div class="row justify-content-center">
			<div class="col-xl-10">
				<div class="row flex-column-reverse flex-md-row align-items-stretch text-center text-md-left">
					<div class="col-lg-7 col-md-9 pt-40">
						<h1 class="mb-20 big" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">What is Reward Bank</h1>
						<div class="f-22 text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
							With Reward Bank users can earn real life rewards for doing tasks such as chores, homework, assignments etc.
                            Great for teachers and parents.	</div>
						<div class="mt-80 row blocks">
							<div class="mt-30 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
								<i class="f-50 fas fa-users"></i>								<div class="mt-30 mb-25 semibold f-20 title">User Managment</div>
								<div class="text-adaptive">
									Create a parent account and start assigning tasks and rewards for the junior accounts to complete.								</div>
							</div>
							<div class="mt-30 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
								<i class="f-50 fas fa-wallet"></i>								<div class="mt-30 mb-25 semibold f-20 title">Reward System</div>
								<div class="text-adaptive">
									Teach users money managing skills with our intutive point system! 							</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-3 d-flex align-items-center" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1200">
						<img srcset="images/reward-bank-logo 2x" src="images/reward-bank-logo.png" class="ml-30 mh-full img" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</header>



<!-- Feature 37 -->

<section class="feature_37 bg-light pt-100 pb-65">
	<div class="container px-xl-0">
		<div class="row justify-content-between">
			<div class="col-xl-1"></div>
			<div class="col-lg-5 col-md-6 mb-50 mb-md-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<h2 class="mb-20 small">
					What are the benefits of using reward bank?
				</h2>
				<div class="mb-25 f-18 medium color-heading op-7 text-adaptive">
					Knowing how and when to spend your 
					hard earned cash is important and learning
					at a young age can set you up for success
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				<div class="mb-55 d-flex align-items-center advantage">
					<i class="fas fa-desktop color-gray f-26 lh-24 w-30 mr-20"></i>
					<div class="f-14 semibold text-uppercase sp-20 title"> point system</div>
				</div>
				<div class="mb-55 d-flex align-items-center advantage">
					<i class="fas fa-child color-gray f-26 lh-24 w-30 mr-20"></i>
					<div class="f-14 semibold text-uppercase sp-20 title">Perfect for kids</div>
				</div>
				<div class="mb-55 d-flex align-items-center advantage">
					<i class="fas fa-trophy color-gray f-26 lh-24 w-30 mr-20"></i>
					<div class="f-14 semibold text-uppercase sp-20 title">real rewards for real tasks</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Content 6 -->

<style>
	.content_6{
		background-image:url(images/header-2-bg.gif);
	}
	@media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
		.content_6{
			background-image:url(images/header-2-bg@2x.gif);
		}
	}
</style>

<section class="content_6 pt-125 pb-105">
	<div class="container px-xl-0 text-center color-white">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<h2>Think Your Ready To Start?</h2>
			</div>
			<div class="mt-35 col-xl-7 col-lg-8 col-md-10 f-22 text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				Well if so were glad to hear just go to the login button at
				the top to get started 
		</div>
	</div>
</section>

<!-- Footer 3 -->

<footer class="footer_3 bg-light pt-100 pb-100 text-center text-lg-left">
	<div class="container px-xl-0">
		<div class="row">
			<div class="col-xl-1"></div>
			<div class="mb-50 mb-lg-0 col-lg-4" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<div class="row">
					<div class="col-12">
						<a href="#" class="logo link color-main">Reward Bank</a>
						Combating Reward </br> Go Digitally
					</div>
					
		</div>
	</div>
</footer>

  <!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

 <script>
    AOS.init();
  </script>