<h1 class="section-banner"><span>The Tech Blog</span></h1>
<main>
  <br>
  <form class="signup-form">
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">Sign Up</button>
    </div>
    <div>
      <a href="/login">Login instead</a>
    </div>
  </form>

  <script src="/javascript/signup.js"></script>
</main>


