<h1 class="section-banner"><span>The Tech Blog</span></h1>
<main>
  <article class="post">
    <div class="title">
      {{post.title}} <span>- By {{post.user.username}} on {{format_date post.created_at}} </span>
    </div>
    <div class="content">
      {{post.post_content}}
    </div>
  </article>
  
  <br>
  {{#if loggedIn}}
  <form class="comment-form">
    <label>Comment</label>
    <div>
      <textarea name="comment-body"></textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
  {{/if}}

    {{> comments post.comments}}

  {{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
  {{/if}}
</main>