@import 'framework.css';

/* 1. Common styles */
body {
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4d095f;
  -webkit-font-smoothing: antialiased;
}
body.dev {
  background: #ccc;
  min-height: 10000px;
}
header, section {
  overflow: hidden;
}
header {
  position: relative;
}
header nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
nav {
  width: 100%;
}
nav.transparent {
  background: transparent;
}
a, button {
  cursor: pointer;
  transition: all 0.25s;
}
a:hover, button:hover {
  text-decoration: none;
}
a:active, button:active, a:focus, button:focus {
  text-decoration: none;
  outline: none;
}
button {
  border: none;
  outline: none !important;
}
.add-new-task-section {
  display: none;
}
.add-new-reward-section {
  display: none;
}
input, textarea {
  border: 0;
  outline: none;
  background: transparent;
  color: #4d095f;
  resize: none;
}
label {
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  font-weight: 900;
  font-family: Nunito Sans;
}
h1, h2 {
  font-size: 58px;
  line-height: 70px;
}
h1.big, h2.big {
  font-size: 72px;
  line-height: 86px;
}
h1.small, h2.small {
  font-size: 42px;
  line-height: 52px;
  font-weight: 900;
}
h3 {
  font-size: 42px;
  line-height: 52px;
}
b, strong {
  font-weight: 700;
}
.alert {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 970px;
  z-index: 2000;
}
.alert-dismissable .close, .alert-dismissible .close {
  top: 0;
}

/* 2. Common responsive styles */
/* Smaller than 1200px */
@media (max-width: 1199.98px) {
  header[class^="pt-"], section[class^="pt-"], header[class*=" pt-"], section[class*=" pt-"] {
    padding-top: 80px;
  }
  header[class^="pb-"], section[class^="pb-"], header[class*=" pb-"], section[class*=" pb-"] {
    padding-bottom: 80px;
  }
  h1 br, h2 br, h3 br, .text-adaptive br {
    display: none;
  }
  h1, h2 {
    font-size: 52px;
    line-height: 62px;
  }
  h1.big, h2.big {
    font-size: 62px;
    line-height: 72px;
  }
  h1.small, h2.small {
    font-size: 36px;
    line-height: 46px;
  }
  h3 {
    font-size: 36px;
    line-height: 46px;
  }
  .navigation_mobile {
    display: block;
  }
}
/* Smaller than 992px */
@media (max-width: 991.98px) {
  h1, h2 {
    font-size: 42px;
    line-height: 52px;
  }
  h1.big, h2.big {
    font-size: 52px;
    line-height: 62px;
  }
  h1.small, h2.small {
    font-size: 32px;
    line-height: 42px;
  }
  h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .text-adaptive.f-24 {
    font-size: 22px;
    line-height: 32px;
  }
  .text-adaptive.f-22 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-adaptive.f-20 {
    font-size: 18px;
    line-height: 28px;
  }
  .alert {
    top: 10px;
    left: 20px;
    right: 20px;
    transform: none;
    width: auto;
    padding-left: 40px;
  }
}
/* Smaller than 768px */
@media (max-width: 767.98px) {
  h1, h2 {
    font-size: 32px;
    line-height: 42px;
  }
  h1.big, h2.big {
    font-size: 42px;
    line-height: 52px;
  }
  h1.small, h2.small {
    font-size: 26px;
    line-height: 36px;
  }
  h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .text-adaptive.f-24 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-adaptive.f-22 {
    font-size: 18px;
    line-height: 28px;
  }
  .text-adaptive.f-20 {
    font-size: 16px;
    line-height: 26px;
  }
  .text-adaptive.f-18 {
    font-size: 16px;
    line-height: 26px;
  }
  .btn.lg {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 500;
  }
  .btn.lg[class^="border-"], .btn.lg[class*=" border-"] {
    line-height: 46px;
  }
  .btn.xl {
    height: 60px;
    line-height: 60px;
    padding: 0 35px;
    font-size: 18px;
    font-weight: 500;
  }
  .btn.xl[class^="border-"], .btn.xl[class*=" border-"] {
    line-height: 56px;
  }
  .input.lg {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
  }
}
/* Smaller than 640px */
@media (max-width: 639.98px) {
  .video_popup iframe {
    width: calc(100% - 30px);
    height: calc((100vw - 30px) * 0.56);
  }
}
/* Smaller than 576px */
@media (max-width: 575.98px) {
  h1, h2 {
    font-size: 26px;
    line-height: 36px;
  }
  h1.big, h2.big {
    font-size: 32px;
    line-height: 42px;
  }
  h1.small, h2.small {
    font-size: 22px;
    line-height: 32px;
  }
  .btn.xl {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
  }
  .btn.xl[class^="border-"], .btn.xl[class*=" border-"] {
    line-height: 46px;
  }
}

/* main header img */
.header_16 {
  background: #112148 no-repeat 50% 100%;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .header_16 .blocks {
    margin-top: 20px;
  }
}
@media (max-width: 767.98px) {
  .header_16 .img {
    max-width: 100%;
    margin: 0;
  }
  .header_16 .blocks .title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* 14. Footers */
@media (max-width: 575.98px) {
  .footer_1 .links a {
    margin: 0 10px;
  }
}
@media (max-width: 991.98px) {
  .footer_3 .description {
    margin: 10px 0;
  }
  .footer_3 .socials a {
    margin: 0 10px;
  }
  .footer_3 .title {
    margin-bottom: 15px;
  }
}
@media (max-width: 1199.98px) {
  .footer_5 .hr {
    margin-top: 30px;
  }
  .footer_5 .socials {
    margin-top: 20px;
  }
  .footer_5 .logo, .footer_5 .title {
    margin-bottom: 15px;
  }
}
@media (max-width: 991.98px) {
  .footer_6 .hr {
    margin: 0 0 50px 0;
  }
  .footer_6 .title {
    margin-bottom: 15px;
  }
  .footer_6 .links a {
    margin-bottom: 10px;
  }
}
@media (max-width: 575.98px) {
  .footer_7 .link {
    margin: 0 10px;
  }
}
@media (max-width: 1199.98px) {
  .footer_8 a {
    margin: 0 10px;
  }
}
@media (max-width: 1199.98px) {
  .footer_9 form {
    margin-bottom: 40px;
  }
  .footer_9 .title {
    margin-bottom: 15px;
  }
  .footer_9 .links a {
    margin-bottom: 10px;
  }
}
@media (max-width: 991.98px) {
  .footer_10 .socials {
    margin-top: 15px;
  }
  .footer_10 .logo, .footer_10 .title {
    margin-bottom: 15px;
  }
}
@media (max-width: 991.98px) {
  .footer_11 a {
    margin: 0 10px;
  }
}
@media (max-width: 991.98px) {
  .footer_12 {
    padding-top: 50px;
  }
  .footer_12 .text-adaptive {
    margin-top: 30px;
  }
}
@media (max-width: 991.98px) {
  .footer_13 a {
    margin: 0 10px;
  }
}

/* login */
.signup-page {
  float: left;
  width: 100%;
  height: 100%;
  background-color: #1966b0;
  padding: 20px 0px 20px;
}
.form-bg {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 20px 40px 30px;
  border-radius: 10px;
}
.logo {
  width: 80%;
  margin: 20px auto 40px;
  display: block;
}
.form-bg h2 {
  font-size: 17px;
  color: #999;
  text-align: center;
  margin: 15px 5px;
}
button.login-with-fb {
  background-color: #d93025;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 600;
}
.signup-btn {
  background-color: orangered;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 600;
  margin: 10px 0px 10px;
}
.signup-btn:hover, .login-with-fb:hover{
opacity: 0.9;
}

span.options-divider {
  text-align: center;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  width: 40px;
  margin: 0 auto;
  padding: 25px 0px;
  background-color: #fff;
  z-index: 3;
  color: #999;
}
span.option-br {
  border-bottom: 1px solid #ddd;
  position: relative;
  width: 100%;
  bottom: 34px;
  z-index: 2;
  display: block;
}
.login-link {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 15px 0px;
}
.login-link p {
  color: #262626;
  font-size: 14px;
  margin: 15px;
  text-align: center;
}
.login-link p a{
  color: orangered;
}
.get-app {
  font-size: 16px;
  padding: 10px 10px 15px;
  text-align: center;
  width: 100%;
}
.get-app a {
  display: inline-block;
  margin: 15px 5px;
}

/*  DASHBOARD */

.btn1 {
  background-color: #1966b0;
  border-radius: 5px;
  color: white;
}

.btn1:hover {
  color: black;
}

.header-btns {
  padding: 10px  20px;
}
